html {
  font-size: 14px;
  background-color: #f3f5f7;
  color: #333;
}

body {
  margin: 0;
}

/* 这段CSS代码的作用是将HTML、BODY、#root和.container元素的高度设置为100%。这意味着这些元素的高度将等于其父元素的高度，从而实现全屏布局的效果。 */
html,
body,
#root,
.container {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

input,
button {
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

div {
  box-sizing: border-box;
}

i {
  font-style: normal;
}

/* 清除浮动 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.list-container {
  height: 100%;
  padding: 0 20px 20px 20px;
}
